@use "../../../styles/color";
@use "../../../styles/position";
@use "../../../styles/font";
@use "../../../styles/effects/pattern";

.container {
  @include position.home-container;
  @include position.flex-center;
  transition: 0.5s ease;
  opacity: 0;
  .background {
    @include position.fixed-background;
    background: color.$waffle-dark-teal;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
  }

  .description {
    width: 900px;
    text-align: center;
    color: white;
    letter-spacing: -0.05em;
    h3 {
      @include font.gmarket-sans();
      margin-bottom: 40px;
    }
    p {
      @include font.gmarket-sans();
      width: 100%;
      margin-top: 2rem;
      line-height: 2rem;
    }
  }
}

.available {
  opacity: 1;
  .background {
    opacity: 1;
    visibility: visible;
    .bubbleFull {
      transform: translateX(0);
    }
    .bubbleStripe {
      transform: translateX(0);
    }
  }
}
