@use "./styles/responsive";
@use "./styles/lib";
.header {
  @include responsive.fontSize(14px, 16px, 18px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: responsive.$breakpoint-mobile;
  padding: 24px 14px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 927px;
  z-index: 999;

  .content {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    img,
    object {
      height: 1.5em;
    }
  }

  .tabNavigator {
    display: flex;
    gap: min(73px, 5vw);
    padding: 0;
    cursor: pointer;
    .tabItem {
      font-family: "Pretendard", sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      color: #323232;
      &:hover {
        color: #f0745f;
        opacity: 0.7;
      }
      &.selected {
        font-weight: 600;
        color: #f0745f;
        opacity: 1;
      }
    }
  }
}
