@use "styles/font";
@use "styles/position";
@use "styles/responsive";
@import "styles/lib";

.container {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 0.5s ease;
  display: flex;
  &.off {
    opacity: 0;
    visibility: hidden;
  }

  * {
    @include font.pretendard;
  }

  .background {
    @include position.fixed-background;
    background-color: #fff;
  }

  .foreground {
    @include position.fixed-foreground;
    @include position.flex-center;

    .wrapper {
      .textArea {
        p {
          font-weight: 700;
          color: #323232;
        }
        span {
          color: #737373;
        }
      }
      .imageArea {
        .image {
          background-size: cover;
          width: 100%;
          height: 100%;
        }

        .description {
          width: 100%;
          height: 100%;

          .subTitle {
            transition: all 0.15s ease-in-out;

            .head {
              font-weight: 700;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include responsive.desktop {
  .container {
    .foreground {
      .wrapper {
        width: 1280px;
        height: fit-content;

        .textArea {
          p {
            font-size: 50px;
            margin-bottom: px2vh(22px);
          }
          span {
            font-size: 24px;
            letter-spacing: 0.04em;
          }
        }
        .imageArea {
          @include position.flex-center(row);
          margin-top: px2vh(62px);
          height: 422px;
          gap: px2vw(70px);

          .image {
            flex: 6;
            filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.15));
            border-radius: 10px;
          }

          .description {
            flex: 4;
            padding: 5px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .subTitle {
              height: 50px;
              letter-spacing: 0.04em;
              color: #a4a4a4;
              overflow: hidden;
              cursor: pointer;
              &.active {
                color: #000;
                height: 140px;
              }

              .head {
                font-size: 32px;
                margin-bottom: 10px;
              }

              .detailDescription {
                height: 0px;
                overflow: hidden;
                font-size: 18px;
                line-height: 160%;
                color: #434343;
                &.visible {
                  height: 90px;
                  overflow: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include responsive.mobile {
  .container {
    .foreground {
      .wrapper {
        width: 100%;
        text-align: center;
        .textArea {
          p {
            font-size: 26px;
            margin-bottom: 8px;
          }
          span {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: normal;
          }
        }
        .imageArea {
          @include position.flex-center;
          margin-top: 40px;
          width: 300px;

          .image {
            flex: 6;
            background-size: cover;
            width: 100%;
            height: 100%;
            filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.15));
            border-radius: 8px;
            transition: all 0.5s ease-in-out;
          }

          .description {
            padding: 5px 0px;
            flex: 4;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .subTitle {
              @include position.flex-center;
              height: 50px;
              letter-spacing: 0.04em;
              color: #a4a4a4;
              transition: all 0.15s ease-in-out;
              overflow: hidden;
              cursor: pointer;

              .head {
                font-weight: 700;
                font-size: 32px;
                width: 100%;
                height: 50px;
              }

              .detailDescription {
                height: 0px;
                overflow: hidden;
                font-size: 18px;
                line-height: 160%;
                color: #434343;
              }
              .visible {
                height: 90px;
                overflow: visible;
              }
            }

            .active {
              color: #000;
              height: 140px;
            }
          }
        }
      }
    }
  }
}
