@use "styles/font";
@use "styles/position";
@use "styles/responsive";
@import "styles/lib";

.container {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 0.5s ease;
  display: flex;
  &.off {
    opacity: 0;
    visibility: hidden;
  }

  * {
    @include font.pretendard;
  }

  .background {
    @include position.fixed-background;
    background-color: #fff;
  }

  .foreground {
    @include position.fixed-foreground;

    .wrapper {
      .textArea {
        p {
          font-weight: 700;
          color: #323232;
        }
        span {
          color: #737373;
        }
      }
    }
  }
}

@include responsive.desktop {
  .container {
    .foreground {
      @include position.flex-center;
      .wrapper {
        width: 1280px;
        height: fit-content;

        .textArea {
          p {
            font-size: 50px;
            margin-bottom: px2vh(22px);
          }
          span {
            font-size: 24px;
            letter-spacing: 0.04em;
          }
        }
        .imageArea {
          @include position.flex-center(row);
          margin-top: px2vh(62px);
          height: 422px;
          gap: px2vw(70px);

          .imageContainer {
            flex: 6;
            border-radius: 10px;
          }

          .carouselContainer {
            display: none;
          }

          .description {
            width: 100%;
            height: 100%;
            flex: 4;
            padding: 5px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .subTitle {
              transition: all 0.15s ease-in-out;
              height: 50px;
              letter-spacing: 0.04em;
              color: #a4a4a4;
              overflow: hidden;
              cursor: pointer;
              &.active {
                color: #000;
                height: 140px;
              }

              .head {
                font-weight: 700;
                width: 100%;
                font-size: 32px;
                margin-bottom: 10px;
              }

              .detailDescription {
                height: 0px;
                overflow: hidden;
                font-size: 18px;
                line-height: 160%;
                color: #434343;
                &.visible {
                  height: 90px;
                  overflow: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include responsive.tablet {
  .container {
    font-size: 15px;
  }
}

@include responsive.mobile {
  .container {
    font-size: 10px;
  }
}

@include responsive.tabletAndMobile {
  .container {
    .foreground {
      margin-top: 15vh;
      .wrapper {
        @include position.flex-center;
        width: 100%;
        text-align: center;

        .textArea {
          p {
            font-size: 2.6em;
            margin-bottom: 0.8em;
          }
          span {
            font-size: 1.6em;
            line-height: 150%;
          }
        }
        .imageArea {
          width: 100%;
          @include position.flex-center;
          margin-top: 3.2em;

          .imageContainer {
            display: none;
          }

          .description {
            display: none;
          }
        }
      }
    }
  }
}
