@use "styles/responsive";
@use "styles/position";
@import "styles/lib";
$carousel-length: 5;

@include responsive.tabletAndMobile {
  .carousel {
    position: relative;
    @include position.flex-center;

    .carousel-frame {
      width: 80vw;
      height: 45vh;
      display: flex;
      height: auto;

      .carousel-items-container {
        display: flex;
        gap: 5vw;
        transition: 0.5s;

        @for $i from 0 through ($carousel-length - 1) {
          &.state-#{$i} {
            transform: translateX(calc(85vw) * -$i);
          }
        }
        &.state-0 {
          transition: 1s;
        }

        .carousel-item {
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          width: 80vw;
          // height: 45vh;
          // box-shadow: 0px 4px 15px rgba(223, 214, 214, 0.25);
          box-shadow: 0px 4px 15px rgba(223, 214, 214, 0.5);

          .imageContainer {
            width: 80vw;
            > img {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              display: block;
              width: 80vw;
              height: 30vh;
              object-fit: cover;
            }
          }
          .textContainer {
            padding: 2em;
            text-align: initial;
            .activityTitle {
              font-size: 1.8em;
              font-weight: bold;
              color: #353030;
              letter-spacing: 0.05em;
            }
            .activityDetail {
              margin-top: 0.6em;
              font-size: 1.4em;
              line-height: 160%;
              color: #584e4e;
              word-break: keep-all;
            }
          }
        }
      }
    }
  }
  .dots {
    margin-top: 2.4em;
    @include position.flex-center(row);
    gap: 1em;
    .dot {
      width: 0.8em;
      height: 0.8em;
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .rectangle {
      width: 2.5em;
      height: 0.8em;
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
