@use "../../../styles/color";
@use "../../../styles/position";
@use "../../../styles/font";
@use "../../../styles/reset";
@use "../../../styles/effects/pattern";

.container {
  @include position.home-container;
  @include position.flex-center;
  transition: 0.5s ease;
  height: 200vh;
  .background {
    @include position.fixed-background;
    background: color.$waffle-dark-brown;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .foreground {
    @include position.fixed-foreground;
    @include position.flex-center;
    background: transparent;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    .logo {
      @include font.lobster;
      height: 100%;
      position: absolute;
      font-weight: 400;
      font-size: 150px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
      background: linear-gradient(269.88deg, #5b5247 3.58%, #ed8573 98.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      //background-clip: text;
      //text-fill-color: transparent;
      transform: rotate(-10deg);
      .blank {
        display: inline-block;
        width: 300px;
      }
    }
    .mock {
      width: 254px;
      height: 508px;
      background: white;
      border-radius: 40px;
    }
    .icons {
      width: 494px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 41px;
      .icon {
        img {
          width: 81px;
          height: 81px;
        }
        .label {
          width: 100%;
          color: color.$waffle-pale-yellow;
          text-align: center;
        }
      }
    }
    .more {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 154px;
      font-size: 30px;
      font-weight: 500;
      background-color: color.$waffle-pink;
      transition: 0.5s ease;
      transform: translateY(100%);
      opacity: 0;
      &.up {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .to {
      @include reset.a;
      margin-left: 30px;
      padding: 8px 16px;
      border: 4px solid color.$waffle-pale-yellow;
      border-radius: 15px;
      font-weight: 700;
      color: color.$waffle-pale-yellow;
      letter-spacing: -5%;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.available {
  .background {
    opacity: 1;
    visibility: visible;
  }
  .foreground {
    opacity: 1;
    visibility: visible;
  }
}
