@use "../../../styles/color";
@use "../../../styles/position";
@use "../../../styles/font";
@use "../../../styles/effects/pattern";

.container {
  @include position.home-container;
  @include position.flex-center;
  transition: 0.5s ease;
  height: 150vh;
  .background {
    @include position.fixed-background;
    background: color.$waffle-dark-brown;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  .foreground {
    @include position.fixed-foreground;
    @include position.flex-center;
    background: transparent;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    .logo {
      @include font.lobster;
      height: 100%;
      position: absolute;
      font-weight: 400;
      font-size: 150px;
      line-height: 27px;
      display: flex;
      align-items: center;
      text-align: center;
      background: linear-gradient(269.88deg, #5b5247 3.58%, #ed8573 98.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transform: rotate(-10deg);
      .blank {
        display: inline-block;
        width: 300px;
      }
    }
    .mock {
      width: 254px;
      height: 508px;
      background: white;
      border-radius: 40px;
    }
  }
}

.available {
  .background {
    opacity: 1;
    visibility: visible;
  }
  .foreground {
    opacity: 1;
    visibility: visible;
  }
}
