@use "./styles/position";

.radio {
  @include position.flex-center("row");
  justify-content: start;

  input {
    appearance: none;
    border: 0.15em solid #FFF1CF;
    border-radius: 50%;
    background-color: #644F4F;
    box-shadow: inset 0 0 0 0.1em #644F4F;
    transition: background-color 100ms ease-in-out;
    width: 0.9em;
    height: 0.9em;
    display: grid;
    place-content: center;
    &:checked {
      background-color: #FFF1CF;
    }
  }
}