@use "./styles/font";
@use "./styles/color";
@use "./styles/position";

.container {
  display: inline-block;
  background-color: #644F4F;
  height: 80vh;
  width: 26rem;
  color: #FFF1CF;
  padding: 2em;
  //font-weight: 400;
  >div {
    padding: 0.4em;
    width: 100%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.hr {
  border: 0;
  border-top: solid 3px #FFF1CF;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  margin-bottom: 1em;
}

.filterName {
  margin-right: 1em;
  flex: none;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap-reverse;
  flex-grow: 1;

  >div:nth-child(even) {
    padding-left: 0.6em;
  }
}

.status {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-bottom: 0.5em;
}

.alignName {
  margin-right: auto;
}