@use "./styles/position";

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  &:hover input {
    box-shadow: 0 0 0 0.1em #FFF1CF;
  }
  input {
    appearance: none;
    font-size: inherit;
    position: relative;
    border: 2px solid #FFF1CF;
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.45em;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 0 0 #FFF1CF;
    transition: box-shadow 0.2s linear;
    &:before {
      position: absolute;
      content: "";
      box-sizing: border-box;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #FFF1CF;
      transition: all 0.1s ease-in-out;
    }
    &:checked:before {
      width: 65%;
      height: 65%;
      background-color: #FFF1CF;
    }
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  &:hover input {
    box-shadow: 0 0 0 0.1em #FFF1CF;
  }
  input {
    appearance: none;
    position: relative;
    font-size: inherit;
    border: 2px solid #FFF1CF;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.45em;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 0 0 #FFF1CF;
    transition: box-shadow 0.2s linear;
    &:before {
      position: absolute;
      content: "";
      box-sizing: border-box;
      width: 0;
      height: 0;
      background-color: #FFF1CF;
      transition: all 0.1s ease-in-out;
    }
    &:checked:before {
      width: 65%;
      height: 65%;
      background-color: #FFF1CF;
    }
  }
}

.toggle {
  position: relative;
  border: 0.1em solid #FFF1CF;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0 #FFF1CF;
  transition: box-shadow 0.2s linear;
  width: 4em;
  height: 1em;
  &:hover {
    box-shadow: 0 0 0 0.1em #FFF1CF;
  }
  input {
    appearance: none;
    font-size: inherit;
    position: absolute;
    top: calc((1em - 0.1em * 2 - 0.75em) / 2);
    left: calc((1em - 0.1em * 2 - 0.75em) / 2);
    margin: 0;
    border-radius: 0.5em;
    width: 0.75em;
    height: 0.75em;
    transition: all 0.2s ease-in-out;
    background-color: #FFF1CF;
    &:checked {
      left: calc(4em - 0.1em * 2 - 0.025em * 2 - 0.75em);
    }
  }

  span {
    position: absolute;
    font-size: 0.63em;
    white-space: nowrap;
    margin-top: 0.1em;
  }
  .label1Container {
    position: absolute;
    left: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 0;
    height: 100%;
  }
  input:checked ~ .label1Container {
    width: 3em;
  }

  .label1 {
    left: 0.3em;
  }
  .label2Container {
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: 3em;
    height: 100%;
  }
  input:checked ~ .label2Container {
    width: 0;
  }
  .label2 {
    right: 0.3em;
  }
}