@use "../../../../styles/color";
@use "../../../../styles/position";
@use "../../../../styles/font";
@use "../../../../styles/effects/pattern";
@import "../../../../styles/responsive";

.introductionCarousel {
  @include position.flex-center(column);
  width: calc(100vmin / 1080 * 840);
  // max-width: 900px;
  margin-top: 2vmin;
}

.slider {
  width: 100%;
  overflow: hidden;
}
.selectWrap {
  width: 300%;
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 44vmin;
  transition: 0.3s;
}

.image0 {
  transform: translateX(0);
}
.image1 {
  transform: translateX(-33.333%);
}
.image2 {
  transform: translateX(-66.666%);
}

.slideImage {
  position: relative;
  width: 33.333%;
}

.carouselBar {
  width: 85%;
  height: 11vmin;
  margin-top: 2vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;

  .imageWrapper {
    position: relative;
    display: flex;
    width: calc((100% - 32px - 6vmin) / 3);
    height: 100%;
  }

  .active {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }
}

.hover {
  cursor: pointer;
}
