@use "./styles/position";
@use "./styles/responsive";
@use "./styles/color";
@use "./styles/font";

.container {
  @include position.home-container;
  height: 100vh;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
  .background {
    @include position.fixed-background;
    @include position.flex-center;
    background: color.$waffle-dark-brown;
  }
  .contact {
    position: absolute;
    color: color.$ending-contact-font;
    font-size: 24px;
    line-height: 30px;
    left: 80px;
    bottom: 80px;
  }
  .instagram {
    margin-bottom: 20px;
    .label {
      display: block;
      font-weight: 900;
    }
  }
  .mail {
    .label {
      display: inline-block;
      width: 160px;
      font-weight: 900;
    }
  }
  img {
    position: absolute;
  }
  .desk {
    bottom: 0;
    right: 0;
  }
  .mouse {
    bottom: 37px;
    right: 164px;
    transform-origin: 50% 0%;
    animation: 3s ease-in-out infinite alternate hang;
  }
  .chair {
    bottom: 0;
    right: 480px;
    transform: translateX(-300px);
    transition: 1s ease;
  }
  .light {
    bottom: 259px;
    right: 64px;
    animation: 4s ease-in-out infinite alternate blink;
  }
}

.available {
  opacity: 1;
  visibility: visible;
  .chair {
    transform: translateX(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hang {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
