@use "../../../../styles/color";
@use "../../../../styles/position";
@use "../../../../styles/font";
@use "../../../../styles/effects/pattern";
@import "../../../../styles/responsive";

.introductionHeader {
  width: calc(100vmin / 1080 * 840);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vmin;

  .logo {
    position: relative;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    width: 17.5%;
    padding-bottom: 17.5%;
  }

  .text {
    @include font.gmarket-sans();
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: calc(100vmin / 1080 * 18);
    font-weight: 300;

    .title {
      height: 1.3em;
      font-weight: 700;
      font-size: 1.6em;
      display: flex;
      align-items: flex-end;
      letter-spacing: -0.1em;
    }

    .des {
      height: 4em;
      line-height: 1.2em;
      letter-spacing: -0.1em;
      display: flex;
      align-items: flex-end;
    }
  }

  .black {
    color: #342d29;
  }

  .white {
    color: #fff;
  }

  .store {
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7vmin;
    position: relative;
    top: 2.7vmin;

    .link {
      position: relative;
      width: 30%;
      padding-bottom: 30%;
    }
    .hover {
      cursor: pointer;
    }
  }
}
