@use "./styles/font";
@use "./styles/color";
@use "./styles/position";

@font-face {
  font-family: "Gmarket Sans TTF";
  src: local("/font/GmarketSansTTFLight.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: local("/font/GmarketSansTTFMedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: local("/font/GmarketSansTTFBold.ttf");
  font-weight: 700;
}

// 태블릿 사이즈
@media all and (max-width: 1561px) {
  .container {
    min-height: 800px;
  }

  .board {
    width: 1200px;
  }

  .cardArea {
    width: calc(100% - 305px);
  }
}

// 데스크탑 사이즈
@media all and (min-width: 1561px) {
  .container {
    min-height: 600px;
  }

  .board {
    width: 1561px;
  }

  .cardArea {
    width: calc(100% - 415px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9D8476;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-family: "Gmarket Sans TTF", sans-serif;
  font-size: 1.375rem;
  user-select: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  color: #342D29;
  width: 100%;
  p {
    // 선을 작은 텍스트 중앙에 정렬하기 위해 line-height: 1rem 으로 조정
    line-height: 1rem;
    // 텍스트를 1줄로 표현하기 위해
    min-width: max-content;
    font-size: 1.5rem;
    flex: none;
    margin: 2rem 1rem;
  }
  strong {
    font-size: 3.125rem;
    margin-left: 0.3rem;
    margin-right: 0.1rem;
  }
  hr {
    display: block;
    height: 0;
    flex-grow: 1;
    border: 0;
    border-top: 1px solid;
    // 선을 작은 텍스트 중앙에 정렬하기 위해 <p> margin + 0.5rem 으로 설정
    margin: 2.5rem 0;
    padding: 0;
  }
}

.board {
  background-color: #FFFCF3;
  border: 3px solid #644F4F;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.cardArea {
  position: relative;
  height: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  align-content: start;
  justify-content: start;
  overflow: scroll;
}