@use "../../../styles/font";
@use "../../../styles/color";
@use "../../../styles/position";
@import "styles/lib";

.container{
  @include position.flex-center();
  font-family: "Pretendard", sans-serif;
  font-weight: normal;
  padding: px2vw(80px) px2vw(266px);
  .header {
    @include position.flex(row, $align: center, $justify: start);
    width: 100%;
    .title {
      font-weight: bold;
      font-size: px2vw(48px);
      color: #242424;
      padding-right: px2vw(36px);
    }
    .description {
      color: #342D29;
      font-size: px2vw(24px);
      .numberOfMembers {
        display: inline-block;
        font-variant-numeric: tabular-nums;
        font-weight: bold;
        font-size: px2vw(48px);
        color: #F0745F;
        padding: 0 px2vw(4px) 0 px2vw(11px);
      }
    }
  }
}