@use "./styles/font";

.container {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 0.5s ease;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
  }

  .foreground {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      width: calc(1300 / 1920 * 100%);
      height: fit-content;
      .textArea {
        height: calc(100vh / 1080 * 82);
        position: absolute;
        top: calc(100vh / 1080 * 150);
        p {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 43px;
          color: #323232;
        }
        span {
          font-family: "Pretendard";
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 160%;
          letter-spacing: 0.04em;
          color: #737373;
        }
      }
      .imageArea {
        margin-top: calc(100vh / 1080 * 80);
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: calc(50 / 1920 * 100vw);
        .image {
          flex: 5;
          height: fit-content;
          background: #d9d9d9;
          filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.25));
          border-radius: 20px;
          .ratio {
            padding-bottom: calc(100% / 288 * 384);
          }
          transition: all 0.5s ease-in-out;
        }
        .hover {
          flex: 8;
          background: #d9d9d9;
          filter: drop-shadow(2px 5px 6px rgba(0, 0, 0, 0.25));
          border-radius: 20px;
        }
      }
    }
  }
}

.off {
  opacity: 0;
  visibility: hidden;
}
