@use "./styles/position";
@use "./styles/color";
@use "./styles/font";
@use "./styles/clear";

.container {
  @include position.home-container;
  height: 400vh;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
}
.area {
  height: 20%;
}
.background {
  @include position.fixed-background;
  background-color: color.$waffle-gray-brown;
  img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .skylineGround {
    position: absolute;
    width: 100%;
    height: 150%;
    left: 0;
    top: 99%;
    background-color: color.$waffle-dark-brown;
  }
}
.foreground {
  @include position.fixed-foreground;
  @include position.flex-center;
  background: transparent;

  .bannerContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 864px;
    height: 539px;
    z-index: 200;
    opacity: 0;
    transition: opacity 1s;

    .bannerNavigator {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 2.25rem;
      margin-bottom: 19px;
      border-bottom: 3px solid color.$waffle-inky-brown;

      .bannerTitle {
        @include clear.button;
        @include position.flex-center;
        @include font.gmarket-sans();
        position: relative;
        bottom: -3px;
        font-size: 1.125rem;
        width: 20%;
        height: 100%;
        border-bottom: 3px solid color.$waffle-inky-brown;
        cursor: pointer;
        .lightOff {
          position: absolute;
          bottom: 114px;
        }
        .lightOn {
          position: absolute;
          bottom: 0;
          opacity: 0;
        }
        &:hover {
          color: rgba(color.$waffle-yellow, 0.3);
          border-bottom-color: rgba(color.$waffle-yellow, 0.6);
          transition: 0.5s ease-out;
          .lightOn {
            opacity: 0.3;
            transition: 0.5s ease-out;
          }
        }
        &.selected {
          @include font.gmarket-sans();
          color: color.$waffle-yellow;
          border-bottom-color: color.$waffle-yellow;
          font-weight: 500;
          animation: 0.8s steps(10) blinkOn;
          .lightOn {
            opacity: 1;
            animation: 0.8s steps(10) blinkLight;
          }
        }
      }
    }
    .bannerWrapper {
      position: relative;
      width: 100%;
      height: 486px;
      overflow: hidden;
      .bannerSlots {
        position: relative;
        width: 400%;
        height: 100%;
        display: flex;
        flex-direction: row;
        transition: 0.8s;
        transform: translateX(25%);
      }
      .banner {
        width: 25%;
        height: 100%;
        &.clickable {
          cursor: pointer;
        }
      }
      &.selected0 {
        .bannerSlots {
          transform: translateX(0);
        }
      }
      &.selected1 {
        .bannerSlots {
          transform: translateX(-25%);
        }
      }
      &.selected2 {
        .bannerSlots {
          transform: translateX(-50%);
        }
      }
      &.selected3 {
        .bannerSlots {
          transform: translateX(-75%);
        }
      }
      &.selected4 {
        .bannerSlots {
          transform: translateX(-100%);
        }
      }
    }
  }
}

.available {
  opacity: 1;
  visibility: visible;
}
.bannerOn {
  .bannerContainer {
    opacity: 1;
  }
}

@keyframes blinkOn {
  0% {
    color: color.$waffle-yellow;
    border-bottom-color: color.$waffle-yellow;
    font-weight: 500;
  }
  10% {
    @include font.gmarket-sans();
    color: color.$waffle-inky-brown;
    border-bottom-color: color.$waffle-inky-brown;
    font-weight: 300;
  }
  20% {
    @include font.gmarket-sans();
    color: color.$waffle-yellow;
    border-bottom-color: color.$waffle-yellow;
    font-weight: 500;
  }
  30% {
    @include font.gmarket-sans();
    color: color.$waffle-inky-brown;
    border-bottom-color: color.$waffle-inky-brown;
    font-weight: 300;
  }
  70% {
    @include font.gmarket-sans();
    color: color.$waffle-inky-brown;
    border-bottom-color: color.$waffle-inky-brown;
    font-weight: 300;
  }
  80% {
    @include font.gmarket-sans();
    color: color.$waffle-yellow;
    border-bottom-color: color.$waffle-yellow;
    font-weight: 500;
  }
}
@keyframes blinkLight {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
