@use "./styles/font";
@use "./styles/color";
@use "./styles/responsive";

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #f0745f;
  }

  .foreground {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact {
      @include responsive.fontSize(12px, 18px, 24px);
      position: absolute;
      color: #fff1cf;
      line-height: 30px;
      left: 80px;
      bottom: 80px;
      z-index: 10;

      .instagram {
        display: flex;
        gap: 44px;
        margin-bottom: 20px;
        .label {
          display: block;
          font-weight: 700;
        }
      }
      .mail {
        display: flex;
        gap: 44px;
        .label {
          display: inline-block;
          width: 160px;
          font-weight: 700;
        }
      }
    }

    .sponsorship {
      @include font.pretendard;
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      position: absolute;
      top: 16px; // 맥북 화면에서 상단 텍스트 잘림

      .description {
        @include responsive.fontSize(14px, 18px, 24px);
        margin-bottom: 25px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.96px;
        color: #737373;
      }
      .title {
        @include responsive.fontSize(26px, 38px, 50px);
        color: #323232;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 53px;
      }
      .sponsors {
        @include font.pretendard;
        position: relative;
        display: flex;
        width: 80%;
        justify-content: space-between;
        padding-bottom: 8px;
        z-index: 10;
        .sponsor {
          @include responsive.fontSize(14px, 21px, 28px);
          color: #323232;
          font-weight: 600;
          line-height: 180%; /* 57.6px */
          letter-spacing: 1.28px;
        }
      }
      .around {
        justify-content: space-around;
      }
    }
    .bottom {
      width: 100%;
      height: 100%;
      .images {
        width: 100%;
        height: 100%;
        img,
        object {
          position: absolute;
        }
        .chair {
          right: 850px;
          bottom: 35px;
          transform: translateX(300px);
          transition: 1s ease;
        }
        .desk {
          right: 0px;
          bottom: 35px;
        }
        .mouse {
          right: 165px;
          bottom: 75px;
          transform-origin: 50% 0;
          animation: 3s ease-in-out infinite alternate hang;
        }
        .light {
          right: 63px;
          bottom: 291px;
          animation: 4s ease-in-out infinite alternate blink;
        }
      }
    }
  }
}

.off {
  opacity: 0;
  visibility: hidden;
  .chair {
    transform: translateX(0px) !important;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hang {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@include responsive.desktop {
  .onlyMobile {
    display: none;
  }
}

@include responsive.tabletAndMobile {
  .container {
    .background {
      background-color: white;
    }
    .foreground {
      .sponsorship {
        position: relative;
        top: 0; // 맥북 화면에서 상단 텍스트 잘림
      }
      .description {
        font-weight: 500;
        line-height: 150%; /* 30px */
        margin-bottom: 37px;
      }
      .supportMobile {
        margin-top: 7px;
      }
      .title {
        margin-bottom: 10px !important;
      }

      .contact {
        position: relative;
        top: 0;
        left: 0;
        color: black !important;
        .instagram,
        .mail {
          gap: 10px;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .column {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: normal;
          gap: 11px;
          .address {
            color: #737373;
          }
          .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 170%; /* 20.4px */
            color: #737373;
          }
        }
        .mobileLabel {
          @include responsive.fontSize(16px, 20px, 24px);
          font-weight: 700;
          letter-spacing: 0.8px;
        }

        .label {
          text-align: center;
          font-family: Pretendard;
          font-weight: 400 !important;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #323232;
        }
      }
    }
    .images {
      img,
      object {
        width: 50% !important;
        max-width: 300px;
      }
    }
  }

  .onlyDesktop {
    display: none !important;
  }
}
