@use "../../../../styles/color";
@use "../../../../styles/position";
@use "../../../../styles/font";
@use "../../../../styles/effects/pattern";
@import "../../../../styles/responsive";

.introduceHeader {
  width: 87%;
  max-width: 870px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .logo {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
  }

  .text {
    @include font.gmarket-sans();
    text-align: start;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    height: 140px;

    .title {
      height: 50px;
      font-weight: 700;
      font-size: 30px;
      line-height: 34px;
      display: flex;
      align-items: flex-end;
      letter-spacing: -0.1em;
    }

    .des {
      height: 75px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.1em;
      display: flex;
      align-items: flex-end;
    }
  }

  .black {
    color: #342d29;
  }

  .white {
    color: #fff;
  }

  .store {
    display: flex;
    flex-direction: row;
    gap: 7.5px;
    position: relative;
    top: 30px;

    .hover {
      cursor: pointer;
    }
  }
}
