@use "../../styles/color";
@use "../../styles/position";
@use "../../styles/font";
@use "../../styles/effects/pattern";
@import "../../styles/responsive";

$block1: (
  "time": 1s,
  "delay": 0s,
  "start": translateY(-200px),
  "end": translateY(0),
);
$block2: (
  "time": 1s,
  "delay": 0s,
  "start": translateY(400px),
  "end": translateY(-80px),
);
$block3: (
  "time": 1.5s,
  "delay": 0.3s,
  "start": translateY(-500px),
  "end": translateY(150px),
);
$block4: (
  "time": 1.5s,
  "delay": 0.3s,
  "start": translateY(400px),
  "end": translateY(70px),
);
$block5: (
  "time": 1.5s,
  "delay": 0.3s,
  "start": translateY(500px),
  "end": translateY(-200px),
);
$block6: (
  "time": 1s,
  "delay": 0s,
  "start": translateY(-400px),
  "end": translateY(0),
);
$block7: (
  "time": 1s,
  "delay": 0s,
  "start": translateY(200px),
  "end": translateY(-30px),
);

.container {
  @include position.home-container;
  @include position.flex-center;
  transition: 0.5s ease;
  .background {
    @include position.fixed-background;
    background: color.$waffle-white;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;

    .block1 {
      position: absolute;
      top: 0;
      left: 0;
      background: color.$SNUTT-block1;
      width: 150px;
      height: 300px;
      transform: map-get($block1, "start");
      transition: map-get($block1, "time");
    }

    .block2 {
      position: absolute;
      bottom: 0;
      left: 0;
      background: color.$SNUTT-block2;
      width: 150px;
      height: 550px;
      transform: map-get($block2, "start");
      transition: map-get($block2, "time");
    }

    .block3 {
      position: absolute;
      top: 0;
      left: 160px;
      background: color.$SNUTT-block3;
      width: 150px;
      height: 500px;
      transform: map-get($block3, "start");
      transition: map-get($block3, "time");
    }

    .block4 {
      position: absolute;
      bottom: 0;
      left: 160px;
      background: color.$SNUTT-block4;
      width: 150px;
      height: 350px;
      transform: map-get($block4, "start");
      transition: map-get($block4, "time");
    }

    .block5 {
      position: absolute;
      bottom: 0;
      right: 160px;
      background: color.$SNUTT-block5;
      width: 150px;
      height: 600px;
      transform: map-get($block5, "start");
      transition: map-get($block5, "time");
    }

    .block6 {
      position: absolute;
      top: 0;
      right: 0px;
      background: color.$SNUTT-block6;
      width: 150px;
      height: 500px;
      transform: map-get($block6, "start");
      transition: map-get($block6, "time");
    }

    .block7 {
      position: absolute;
      bottom: 0;
      right: 0;
      background: color.$SNUTT-block7;
      width: 150px;
      height: 400px;
      transform: map-get($block7, "start");
      transition: map-get($block7, "time");
    }
  }

  .description {
    @include position.fixed-foreground;
    @include position.flex-center;
    opacity: 0;
    transition: 0.5s;
    @include mobile {
      width: auto;
    }
    text-align: center;
    color: color.$waffle-pale-yellow;
    letter-spacing: -0.05em;
    h3 {
      @include font.gmarket-sans();
      margin-bottom: 40px;
    }
    p {
      @include font.gmarket-sans();
      width: 100%;
      margin-top: 2rem;
      line-height: 2rem;
    }
  }
}

.available {
  .background {
    opacity: 1;
    visibility: visible;

    .block1 {
      transform: map-get($block1, end);
    }
    .block2 {
      transform: map-get($block2, end);
    }
    .block3 {
      transform: map-get($block3, end);
    }
    .block4 {
      transform: map-get($block4, end);
    }
    .block5 {
      transform: map-get($block5, end);
    }
    .block6 {
      transform: map-get($block6, end);
    }
    .block7 {
      transform: map-get($block7, end);
    }
  }

  .description {
    opacity: 1;
    visibility: visible;
  }
}
