.track {
  top: 0;
  position: sticky;
  width: 5px;
  margin-right: 5px;
  height: 100%;
  background-color: #644F4F14;
  border-radius: 2.5px;
}

.thumb {
  position: relative;
  left: -3px;
  width: 0;
  border: 6px solid #644F4F;
  border-radius: 6px;
  background-color: #644F4F;
}