@use "../../../styles/color";
@use "../../../styles/position";
@use "../../../styles/font";

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 100;

  .background {
    @include position.fixed-background;
    background: color.$snuboard-background-blue;
    visibility: hidden;
    opacity: 0;
  }

  .introduction {
    @include position.fixed-foreground;
    @include position.flex-center;
    opacity: 0;
    text-align: center;
  }
}

.container.available {
  transition: 0.5s ease;
  .background {
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
  }

  .introduction {
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
  }
}
