/*** waffle color system ***/
//basics
$waffle-white: #ffffff;
$waffle-orange: #f0975e;
$waffle-pink: #ed8573;
$waffle-dark-teal: #0b4c4f;
$waffle-gray: #6e6363;
$waffle-brown: #9d8476;
$waffle-pale-yellow: #fff1cf;
$waffle-light-yellow: #fedb96;
$waffle-dark-brown: #342d29;

//extended
$waffle-yellow: #ffd260;
$waffle-gray-brown: #5b5247;
$waffle-inky-brown: #181105;
$waffle-darker-teal: #123d40;
$waffle-teal: #196164;
$waffle-red-brown: #7e473e;
$waffle-light-pink: #f4987b;
$waffle-dark-pink: #986259;
$waffle-dark-orange: #c55743;

//special font colors
$cover-background-font: rgba(253, 242, 220, 0.29);
$cover-description-font: #793c19;
$cover-navigator-selected: #791930;
$ending-contact-font: #c7bca2;

//board colors
$board-brown: #644f4f;
$board-pale-yellow: #fffcf3;
$board-gray: #6e6e6e;

//QnA colors
$QnA-phone-black: #1b1b1b;
$QnA-phone-bar: #9a4747;

//SNUTT background block colors
$SNUTT-block1: #e54459;
$SNUTT-block2: #1bd0c8;
$SNUTT-block3: #a6d930;
$SNUTT-block4: #f58d3d;
$SNUTT-block5: #fac42d;
$SNUTT-block6: #2bc267;
$SNUTT-block7: #af56b3;

// snuboard colors
$snuboard-background-blue: #42b8df;
$snuboard-dark-blue: #3988d1;
