/*** waffle color system ***/
//basics
$waffle-white: #ffffff;
$waffle-orange: #f0975e;
$waffle-pink: #ed8573;
$waffle-dark-teal: #0b4c4f;
$waffle-gray: #6e6363;
$waffle-brown: #9d8476;
$waffle-pale-yellow: #fff1cf;
$waffle-light-yellow: #fedb96;
$waffle-dark-brown: #342d29;

//extended
$waffle-yellow: #ffd260;
$waffle-gray-brown: #5b5247;
$waffle-inky-brown: #181105;
$waffle-darker-teal: #123d40;
$waffle-teal: #196164;

//special font colors
$cover-background-font: rgba(253, 242, 220, 0.29);
$cover-description-font: #793c19;
$cover-navigator-selected: #791930;

//board colors
$board-brown: #644f4f;
$board-pale-yellow: #fffcf3;
$board-gray: #6e6e6e;
