//local fonts
@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("../public/static/font/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("../public/static/font/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans TTF";
  src: url("../public/static/font/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../public/static/font/NicoMoji-Regular.ttf");
  font-family: "nico-moji-regular";
}

@font-face {
  src: url("../public/static/font/Lobster-Regular.ttf");
  font-family: "Lobster";
}

//webfonts
//@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@font-face {
  font-family: "KCC-eunyoung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
/* fredoka */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

@mixin nico-moji {
  font-family: "nico-moji-regular", sans-serif;
  font-style: normal;
}
@mixin gmarket-sans {
  font-family: "Gmarket Sans TTF", sans-serif;
}

@mixin lobster {
  font-family: "Lobster", cursive;
}

@mixin kcc-eunyoung {
  font-family: "KCC-eunyoung", cursive;
}

@mixin pretendard {
  font-family: "pretendard", sans-serif;
}

@mixin fredoka {
  font-family: "Fredoka", sans-serif;
}
