@use "../../../styles/color";
@use "../../../styles/position";
@use "../../../styles/font";
@use "../../../styles/effects/pattern";
@import "../../../styles/responsive";

.introduceCarousel {
  width: 90%;
  max-width: 900px;
  margin-top: 20px;
}
.selectWrap {
  margin: auto;
  width: 100%;
  max-height: 486px;
  overflow: hidden;
}

.carouselBar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .imageWrapper {
    position: relative;
    display: flex;
    width: 210px;
    height: 118px;
  }

  .active {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }
}

.hover {
  cursor: pointer;
}
