@use "../../../styles/color";
@use "../../../styles/position";
@use "../../../styles/font";
@use "../../../styles/effects/pattern";
@import "../../../styles/responsive";

.introduceCarousel {
  width: 90%;
  max-width: 900px;
  margin-top: 20px;
}

.slider {
  width: 100%;
  overflow: hidden;
}
.selectWrap {
  width: 300%;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-height: 486px;
  transition: 0.3s;
}

.image0 {
  transform: translateX(0);
}
.image1 {
  transform: translateX(-33.333%);
}
.image2 {
  transform: translateX(-66.666%);
}

.slideImage {
  width: 33.333%;
}

.carouselBar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .imageWrapper {
    position: relative;
    display: flex;
    width: 210px;
    height: 118px;
  }

  .active {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
  }
}

.hover {
  cursor: pointer;
}
