@use "./styles/position";
@use "./styles/responsive";
@use "./styles/color";
@use "./styles/font";

.container {
  @include position.home-container;
  transition: 0.5s ease;
  height: 150vh;
  .background {
    @include position.fixed-background;
    @include position.flex-center;
    background: color.$waffle-red-brown;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
    .tableCloth1 {
      position: absolute;
      width: 70%;
      height: 586px;
      background: color.$waffle-dark-pink;
    }
    .tableCloth2 {
      position: absolute;
      width: 70%;
      height: 280px;
      background: color.$waffle-light-pink;
    }
  }
  .foreground {
    @include position.fixed-foreground;
    @include position.flex-center;
    background: transparent;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    .forkAndKnife {
      position: absolute;
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .pancake {
      @include position.flex-center;
      position: absolute;
      width: 60%;
      height: 100%;
      transition: 1s;
      transform: rotate(-240deg) scale(0.1);
      z-index: 0;
      $syrupWidth: 32%;
      $syrupTopWidth: 67%;
      $syrupLusterWidth: $syrupTopWidth * 0.375;
      $syrupBottomWidth: $syrupTopWidth * 1.176;
      .syrupTopWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $syrupWidth;
        aspect-ratio: 0.64;
        transition: 1s ease-in-out;
        transform-origin: top left;
        transform: rotate(0deg);
        overflow: hidden;
        z-index: 1;
        .syrupTop {
          position: absolute;
          right: 13%;
          bottom: 22%;
          width: $syrupTopWidth;
        }
        .syrupLuster {
          position: absolute;
          right: 13%;
          bottom: 45%;
          width: $syrupLusterWidth;
        }
      }
      .syrupBottomWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: $syrupWidth;
        aspect-ratio: 0.64;
        transition: 1s ease-in-out;
        transform-origin: top left;
        transform: rotate(0deg);
        z-index: -1;
        .syrupBottom {
          position: absolute;
          right: 0;
          bottom: 0;
          width: $syrupBottomWidth;
        }
      }
      .pancakeBackground {
        width: 100%;
      }
      .months {
        @include font.lobster;
        @include position.flex-center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        .month {
          @include position.flex-center;
          position: absolute;
          color: color.$waffle-dark-orange;
          font-size: 4vw;
          width: 2em;
          height: 2em;
          transition: 0.5s;
          &:hover {
            font-size: 5vw;
            .monthSuffix {
              opacity: 100%;
            }
          }
        }
        .monthActive {
          @include position.flex-center;
          position: absolute;
          color: color.$waffle-light-yellow;
          font-size: 5vw;
          width: 2em;
          height: 2em;
          transition: 1.2s;
        }
        .monthSuffix {
          @include position.flex-center;
          position: absolute;
          color: color.$waffle-dark-orange;
          font-size: 2vw;
          width: 2em;
          height: 2em;
          transition: 0.5s;
          z-index: -1;
          opacity: 0;
        }
        .monthSuffixActive {
          @include position.flex-center;
          position: absolute;
          color: color.$waffle-light-yellow;
          font-size: 2vw;
          width: 2em;
          height: 2em;
          transition: 0.5s;
          z-index: -1;
          opacity: 100%;
        }
      }
      .description {
        position: absolute;
        width: 24vw;
        height: 12vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          font-size: 1.5vw;
          font-weight: 700;
          color: color.$waffle-red-brown;
          letter-spacing: -0.05em;
          margin-bottom: 4vw;
        }
        .content {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .monthName {
          }
          .monthContent {
          }
        }
      }
    }
    .m1 {
      transform: translate(9vw, -15vw);
    }
    .m1_ {
      transform: translate(2vw, 1vw);
    }
    .m2 {
      transform: translate(15vw, -9vw);
    }
    .m2_ {
      transform: translate(2.5vw, 1vw);
    }
    .m3 {
      transform: translate(18vw, 0);
    }
    .m3_ {
      transform: translate(2.5vw, 1vw);
    }
    .m4 {
      transform: translate(15vw, 9vw);
    }
    .m4_ {
      transform: translate(2.5vw, 1vw);
    }
    .m5 {
      transform: translate(9vw, 15vw);
    }
    .m5_ {
      transform: translate(2.5vw, 1vw);
    }
    .m6 {
      transform: translate(0, 18vw);
    }
    .m6_ {
      transform: translate(2.5vw, 1vw);
    }
    .m7 {
      transform: translate(-9vw, 15vw);
    }
    .m7_ {
      transform: translate(2vw, 1vw);
    }
    .m8 {
      transform: translate(-15vw, 9vw);
    }
    .m8_ {
      transform: translate(2.5vw, 1vw);
    }
    .m9 {
      transform: translate(-18vw, 0);
    }
    .m9_ {
      transform: translate(2.5vw, 1vw);
    }
    .m10 {
      transform: translate(-15vw, -9vw);
    }
    .m10_ {
      transform: translate(3.3vw, 1vw);
    }
    .m11 {
      transform: translate(-9vw, -15vw);
    }
    .m11_ {
      transform: translate(2.5vw, 1vw);
    }
    .m12 {
      transform: translate(0, -18vw);
    }
    .m12_ {
      transform: translate(3.3vw, 1vw);
    }
  }
}

.available {
  .background {
    opacity: 1;
    visibility: visible;
  }
  .foreground {
    opacity: 1;
    visibility: visible;
    .pancake {
      transform: rotate(0) scale(1);
    }
  }
}
